:root {
  --white: rgb(242, 242, 242);
  --black: rgb(17, 17, 17);
  --dark-blue: rgb(1, 92, 111);
  --light-blue: rgb(2, 204, 246);
}

@keyframes topToBottomFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bottomToTopFadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--light-blue);
  color: var(--white);
}

::-moz-selection {
  background-color: var(--light-blue);
  color: var(--white);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/happy-birthday-mobile-bg.jpg") no-repeat center center/cover;
  background-color: var(--dark-blue);
  background-blend-mode: overlay;
  padding: 2rem 1rem;
  min-height: 100vh;
  text-align: center;
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

h1 {
  line-height: 1.6;
  font-family: "Dancing Script", cursive;
}

p {
  line-height: 1.6;
}

.main__title {
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

.main__birthday {
  display: block;
  animation: topToBottomFadeIn 1250ms ease-in-out forwards;
}

.main__name {
  display: block;
  opacity: 0;
  text-transform: uppercase;
  animation: bottomToTopFadeIn 1250ms 1250ms ease-in-out forwards;
}

.main__description {
  margin: 1rem;
  opacity: 0;
  animation: fadeIn 750ms 2500ms ease-in-out forwards;
}

.main__description--bold {
  font-weight: 700;
}

.attribution {
  padding-top: 5rem;
}

.attribution__description {
  opacity: 0;
  animation: fadeIn 750ms 3250ms ease-in-out forwards;
}

.attribution__name {
  font-weight: 700;
}

@media screen and (min-width: 25em) {
  .main__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 40em) {
  body {
    background: url("../images/happy-birthday-bg.jpg") no-repeat center center/cover;
    background-color: var(--dark-blue);
    background-blend-mode: overlay;
  }
}

@media screen and (min-width: 48em) {
  body {
    font-size: 1.5rem;
  }
  
  .main__title {
    font-size: 5rem;
  }
}